<html>
<head>
<title>AngularJS Filters</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body>

<h2> Filters for actors </h2>

<div ng-app="mainApp" ng-controller="actorController">

<table border="0">

<tr>
<td> Enter first name: </td>
<td><input type="text" ng-model="actor.firstName""></td>
</tr>

<tr>
<td> Enter last name: </td>
<td><input type="text" ng-model="actor.lastName"></td>
</tr>

<tr>
<td> Enter salary: </td>
<td> <input type="text" ng-model="actor.salary"></td>
</tr>

<tr>
<td>Enter skill for filter: </td>
<td><input type="text" ng-model="skillTitle"></td>
</tr>

</table>

<br/>

<table border="0">

<tr>
<td>Name in Upper Case: </td>
<td>{{actor.fullName() | uppercase}}</td>
</tr>

<tr>
<td>Salary: </td>
<td> {{ actor.salary | currency }} </td>
</tr>

<tr>
<td>Skill: </td>
<td>
<ul>
  <li ng-repeat="skill in actor.skills | filter : skillTitle | orderBy:'level'" >
    {{ skill.title +', level: '+ skill.level }}
  </li>
</ul>
</td>
</tr>
</table>

</div>

<script>
var mainApp = angular.module("mainApp", []);

mainApp.controller('actorController', function($scope){
	$scope.actor = {
			firstName: "Bruce",
			lastName: "Willis",
			salary: 100000,
			skills: [
			   { title: 'Fighting', level: 90 },
			   { title: 'Shooting', level: 80 },
			   { title: 'WorldSaving', level: 70 }
			],
			fullName: function(){
				var actorObject;
				actorObject = $scope.actor;
				return actorObject.firstName+" "+actorObject.lastName;
			}
	};
});

</script>
</body>
</html>





















